*{
    margin: 0;
    padding: 0;
}

.input-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 14px 16px;
}
label{
    display: block;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
    color: white;
    margin-bottom: 8px;
    text-align: left;
}
input{
    width: 500px;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}

/*-----------------------------------------------*/

.btn{
    color: #2a6bcb;
    border-radius: 4px;
    font-weight: 600;
    font-size: 25px;
    padding: 0;
    line-height: 22px;
    width: 50%;
    cursor: pointer;
}
