* {
    margin: 0;
    padding: 0;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 14px 16px;
}

label {
    display: block;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
    color: white;
    margin-bottom: 8px;
    text-align: left;
}

input {
    width: 500px;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}

/*-----------------------------------------------*/

.btn {
    color: #2a6bcb;
    border-radius: 4px;
    font-weight: 600;
    font-size: 25px;
    padding: 0;
    line-height: 22px;
    width: 50%;
    cursor: pointer;
}

/*---------Post--------*/

.post {
    width: inherit;
    background: white;
    box-shadow: 0px 0px 1px black;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 16px;
}

.sender {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.sender-photo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 16px;
}

.sender-name {
    font-size: 20px;
    margin-bottom: 6px;
}

.sending-time {
    font-size: 13px;
}

.content-text {
    width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
}
.content-photo{

    width: 100%;
    max-width: 500px;
    max-height: 400px;
}
